
@media all {
  .page-break {
    display: none;
  }
}

/* @media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
  }
} */

@media print {
  body {-webkit-print-color-adjust: exact;}

  @page {
    /* margin: auto; */
  margin: 4rem;
  width: 200mm;
}
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
  .waryaa {
    width: 100% !important;
    background-color: white !important;
    /* margin: 0px auto !important;
    padding: 0px !important; */
    /* background-color: blue !important; */
  }
  .waryaa button{
    display: none;
  }
  .waryaa .imgDiv{
    margin-top: 0px !important;
  }
  .saleComponent {
    width: 100%;
  }
}


