
/* @page {
    size: 50mm 80mm;
} */

@media print {
    /* @page {
        size: a5 landscape;
        margin: 0mm !important;
    } */
    .popup{
        height: 100% !important;
    }


    @media all {
        .pagebreak {
            overflow: visible;
        }
    }
}
